<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Calendrier</title>
</head>

<body>

<div class="container">
    <div class="day-select w-25 mt-2 mb-3">
        <select class="form-select" aria-label="Default select example">
            <option selected>Séléction des jours</option>
            <option value="1">1ère Journée</option>
            <option value="2">2ème Journée</option>
            <option value="3">3ème Journée</option>
        </select>
    </div>
    <div class="titre mb-3">
        <h2>
            <strong>Calendrier et résultats Ligue 1 Uber eats 2022-2023</strong>
        </h2>

    </div>
    <div class="allrowsVertical ">
        <div class="row1 card mb-4 border-top-0 border-start-0 border-end-0">
            <div class="card-header ">
                Vendredi 11 nov.
            </div>
            <ul class="list-group list-group-flush   ">
                <li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                    <div class=" w-25">
                        <div class="d-flex justify-content-around">
                            <div class="club1Nom">Lyon</div>
                            <div class="club1Logo"  >
                                <img src="images/icon_club_OL.png" alt="" style="width:20px;height:20px">
                            </div>
                            <div class="score bg-dark p-2">
                                <div class="text-light">1-1</div>
                            </div>
                            <div class="club2Logo">
                                <div class="club1Logo"  >
                                    <img src="images/icon_club_OL.png" alt="" style="width:20px;height:20px">
                                </div>
                            </div>
                            <div class="club2Nom">Nice</div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="row1 card mb-4 border-top-0 border-start-0 border-end-0">
            <div class="card-header">
                Samedi 12 nov.
            </div>
            <ul class="list-group list-group-flush   ">
                <li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                    <div class=" w-50">
                        <div class="d-flex ">
                            <div class="club1Nom col-3">Lens</div>
                            <div class="club1Logo col-1"  >
                                <img src="images/icon_club_Lens.webp" alt="" style="width:20px;height:20px">
                            </div>
                            <div class="score bg-dark p-2 col-2 text-center">
                                <div class="text-light"><strong>2</strong>-1</div>
                            </div>
                            <div class="club2Logo">
                                <div class="club1Logo"  >
                                    <img src="images/icon_club_Clermont.png" alt="" style="width:20px;height:20px">
                                </div>
                            </div>
                            <div class="club2Nom">Clermont</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                    <div class=" w-25">
                        <div class="d-flex justify-content-around">
                            <div class="club1Nom">Rennes</div>
                            <div class="club1Logo"  >
                                <img src="images/icon_club_Rennes.png" alt="" style="width:20px;height:20px">
                            </div>
                            <div class="score bg-dark p-2">
                                <div class="text-light"><strong>2</strong>-1</div>
                            </div>
                            <div class="club2Logo">
                                <div class="club1Logo"  >
                                    <img src="images/icon_club_Toulouse.png" alt="" style="width:20px;height:20px">
                                </div>
                            </div>
                            <div class="club2Nom">Toulouse</div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="row1 card mb-4 border-top-0 border-start-0 border-end-0">
            <div class="card-header">
                Dimanche 13 nov.
            </div>
            <ul class="list-group list-group-flush   ">
                <li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                    <div class=" w-25">
                        <div class="d-flex justify-content-around">
                            <div class="club1Nom">Paris-SG</div>
                            <div class="club1Logo"  >
                                <img src="images/icon_club_ParisSG.png" alt="" style="width:20px;height:20px">
                            </div>
                            <div class="score bg-dark p-2">
                                <div class="text-light"><strong>5</strong>-0</div>
                            </div>
                            <div class="club2Logo">
                                <div class="club1Logo"  >
                                    <img src="images/icon_club_Auxerre.png" alt="" style="width:20px;height:20px">
                                </div>
                            </div>
                            <div class="club2Nom">Auxerre</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                    <div class=" w-25">
                        <div class="d-flex justify-content-around">
                            <div class="club1Nom">Lille</div>
                            <div class="club1Logo"  >
                                <img src="images/icon_club_Lille.png" alt="" style="width:20px;height:20px">
                            </div>
                            <div class="score bg-dark p-2">
                                <div class="text-light"><strong>1</strong>-0</div>
                            </div>
                            <div class="club2Logo">
                                <div class="club1Logo"  >
                                    <img src="images/icon_club_Angers.png" alt="" style="width:20px;height:20px">
                                </div>
                            </div>
                            <div class="club2Nom">Angers</div>
                        </div>
                    </div>
                </li>



                <li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                    <div class=" w-25">
                        <div class="d-flex justify-content-around">
                            <div class="club1Nom">Montpellier</div>
                            <div class="club1Logo"  >
                                <img src="images/icon_club_Montpellier.png" alt="" style="width:20px;height:20px">
                            </div>
                            <div class="score bg-dark p-2">
                                <div class="text-light">1-0</div>
                            </div>
                            <div class="club2Logo">
                                <div class="club1Logo"  >
                                    <img src="images/icon_club_Reims.png" alt="" style="width:20px;height:20px">
                                </div>
                            </div>
                            <div class="club2Nom">Reims</div>
                        </div>
                    </div>
                </li><li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                <div class=" w-25">
                    <div class="d-flex justify-content-around">
                        <div class="club1Nom">Brest</div>
                        <div class="club1Logo"  >
                            <img src="images/icon_club_Brest.png" alt="" style="width:20px;height:20px">
                        </div>
                        <div class="score bg-dark p-2">
                            <div class="text-light"><strong>2</strong>-1</div>
                        </div>
                        <div class="club2Logo">
                            <div class="club1Logo"  >
                                <img src="images/icon_club_Troyes.png" alt="" style="width:20px;height:20px">
                            </div>
                        </div>
                        <div class="club2Nom">Troyes</div>
                    </div>
                </div>
            </li><li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                <div class=" w-25">
                    <div class="d-flex justify-content-around">
                        <div class="club1Nom">Nantes</div>
                        <div class="club1Logo"  >
                            <img src="images/icon_club_Nantes.png" alt="" style="width:20px;height:20px">
                        </div>
                        <div class="score bg-dark p-2">
                            <div class="text-light">2-2</div>
                        </div>
                        <div class="club2Logo">
                            <div class="club1Logo"  >
                                <img src="images/icon_club_ACajacio.png" alt="" style="width:20px;height:20px">
                            </div>
                        </div>
                        <div class="club2Nom">AC Ajaccio</div>
                    </div>
                </div>
            </li><li class="list-group-item subItem1  d-flex justify-content-center mb-3">
                <div class=" w-25">
                    <div class="d-flex justify-content-around">
                        <div class="club1Nom">Strasbourg</div>
                        <div class="club1Logo"  >
                            <img src="images/icon_club_Strasbourg.png" alt="" style="width:20px;height:20px">
                        </div>
                        <div class="score bg-dark p-2">
                            <div class="text-light">1-0</div>
                        </div>
                        <div class="club2Logo">
                            <div class="club1Logo"  >
                                <img src="images/icon_club_Lorient.png" alt="" style="width:20px;height:20px">
                            </div>
                        </div>
                        <div class="club2Nom">Lorient</div>
                    </div>
                </div>
            </li>
            </ul>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>